header {
  box-shadow: 0px 0px 3px 0px #7d5a5a;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
header nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
nav a {
  text-decoration: none;
  font-family: "Monsterrat", sans-serif;
  color: #7d5a5a;
  padding-right: 2rem;
}
nav a nav a:hover {
  color: blue;
}
.Home {
  background-image: url("https://i.ibb.co/86SCzcq/bench-accounting-nvzv-OPQW0gc-unsplash-1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: "Monsterrat", sans-serif;
  color: #7d5a5a;
  padding-top: 2rem;
  text-shadow: 2px 2px 2px #d39797;
  font-size: 3rem;
}
.mission {
  border-style: 1rem solid;
  border-color: #7d5a5a;
  background-color: whitesmoke;
  background: rgba(255, 255, 255, 0.527);
  border-radius: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #7d5a5a;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}
.about {
  background-image: url("https://i.ibb.co/Cv4nnZL/aboutUS.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header {
  box-shadow: 0px 0px 3px 0px #7d5a5a;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
header nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
nav a {
  text-decoration: none;
  font-family: "Monsterrat", sans-serif;
  color: #7d5a5a;
  padding-right: 2rem;
}
nav a nav a:hover {
  color: blue;
}
.signUp {
  background-image: url("https://i.ibb.co/86SCzcq/bench-accounting-nvzv-OPQW0gc-unsplash-1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
